<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VUE JS 3</title>
    <link rel="stylesheet" href="css/fonts.css">
    <style>
        .done {
            background-color: #42b883 !important;
            color: #fff;
            
        }
        .done span {
            text-decoration: line-through;
            font-style: italic;
        }
    </style>
    <script src="js/tailwind-3.0.23.js"></script>
</head>
<body class="bg-gradient-to-t from-[#34495e] to-[#41b883] min-h-screen flex justify-center items-center">
    <main id="app" class="bg-white/80 relative w-96 h-[640px] rounded-xl shadow-xl">
        <svg class="w-28 h-28 mx-auto my-6" viewBox="0 0 128 128" width="24" height="24" data-v-5f26462c="">
            <path fill="#42b883" d="M78.8,10L64,35.4L49.2,10H0l64,110l64-110C128,10,78.8,10,78.8,10z" data-v-5f26462c=""></path><path fill="#35495e" d="M78.8,10L64,35.4L49.2,10H25.6L64,76l38.4-66H78.8z" data-v-5f26462c=""></path>
        </svg>

        <h1 class="text-center text-3xl font-semibold bg-gradient-to-l from-[#34495e] to-[#41b883] bg-clip-text text-transparent mb-6">{{ title }}</h1>

        <form @submit.prevent="addTodo" class="">
            <input v-model="newTodo" class="flex mx-auto p-2 rounded-xl shadow-xl outline-none" placeholder="Type Here" maxlength="26">  
            <button class="bg-[#34495e] text-white mx-auto py-2 px-10 flex rounded-full capitalize hover:scale-110 transition duration-200 my-4"> Add Todo </button>
          </form>
          <ul class="overflow-y-auto h-48">
            <li v-for="todo in filteredTodos" :key="todo.id" :class="{ done: todo.done }" class="flex justify-between items-center mx-8 p-2 bg-white/80 rounded-xl mb-2 ">
              <input type="checkbox" v-model="todo.done">
              <span>{{ todo.text }}</span>
              <button @click="removeTodo(todo)" class="bg-red-800 text-white text-lg flex items-center justify-center w-5 h-5 rounded-full hover:scale-125 transition duration-300">&times;</button>
            </li>
          </ul>
          <button @click="hideCompleted = !hideCompleted" class="bg-[#34495e] text-white mx-auto py-2 px-10 flex rounded-full capitalize hover:scale-110 transition duration-200 my-1">
            {{ hideCompleted ? 'Show all' : 'Hide completed' }}
          </button>

        <a href="index.html" class="text-[#34495e] h-14 w-14 absolute hover:scale-125 bottom-2 left-[164px] transition duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
            </svg>
        </a>
    </main>
    <script src="js/vue3.2.31.js"></script>
    <script>
        let id = 0
        const computedp = {
            data() {
                return {
                    title: '07 - Computed Property',
                    newTodo: '',
                    hideCompleted: false,
                    todos: [
                        { id: id++, text: 'Learn HTML', done: true },
                        { id: id++, text: 'Learn CSS', done: true },
                        { id: id++, text: 'Learn JavaScript', done: false },
                        { id: id++, text: 'Learn Vue', done: false }
                    ]
                }
            },
            computed: {
                filteredTodos() {
                    return this.hideCompleted
                        ? this.todos.filter((t) => !t.done)
                        : this.todos
                    }
            },
            methods: {
                addTodo() {
                    if(this.newTodo != '') {
                        this.todos.push({ id: id++, text: this.newTodo, done: false })
                        this.newTodo = ''
                    }
                },
                removeTodo(todo) {
                    //this.todos = this.todos.filter((t) => t !== todo)
                    this.todos.splice(this.todos.indexOf(todo), 1)
                }
            }
        }
        var mountapp = Vue.createApp(computedp).mount('#app')
    </script>
</body>
</html>